{% extends "admin/base_site.html" %}

{% block content %}
  <div class="module">
    <h1>{{ title }}</h1>
    <form method="post" class="admin-form">
      {% csrf_token %}
      <div class="form-row">
        <label for="id_username">Username:</label>
        <input type="text" name="username" id="id_username" required />
      </div>
      <div class="form-row">
        <label for="id_new_password">Nova senha:</label>
        <input type="password" name="new_password" id="id_new_password" required />
      </div>
      <div class="submit-row">
        <input type="submit" value="Resetar senha" class="default" />
        <a href=".." class="button">Voltar</a>
      </div>
    </form>
  </div>
{% endblock %}
